
body {
  margin: 10px;
}

main {
  display: flex;
  background-color: cyan;
  border: solid 5px green;
}

.beigeBox {
  background-color: #f0ebb9;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  flex: 150px 0 0;
  margin: 0;
}

.grayBox {
  background-color: gray;
  margin: 0 5px;
}

  @media screen and (max-width: 600px){
    main {
      flex-wrap: wrap;
    }

    .grayBox {
      margin: 0;
      max-width: 440px;
    }
  }
